<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>

  <link rel="stylesheet" href="/stylesheets/board.css" />
</head>

<body>
  <div class="dashboard">
    <% include ./sidebar.html %>

    <!--콘텐츠-->
    <div class="main-section">
      <!--헤더-->
      <div class="header">
        <!--로고-->
        <div class="logo-wrapper">
          <a class="logo-text" href="/">(홈페이지로고)</a>
        </div>

        <% include ./board_title.ejs%>
        <%if(isPrivate){%>
          
        <!--글쓰기 페이지로 이동-->
        <div class="btnWrite">
          <a class="write-text" href="/post/write">글쓰기</a>
        </div>
        <%}%>

        <%include personalNav.ejs%>
      </div> <!--헤더-->

      <!--컬럼-->
      <div class="column">
        <%for(i = 1; i <= Math.min(3, posts.length); ++i){%>
          <%let post = posts[i - 1];%>
        <!--게시물-<%=i%>-->
        <div class="element-<%=i%>">
          <div class="views_likes-wrapper">
            <div class="views-form">
              <div class="views-text"><%=post.views%></div>
            </div>
            <div class="likes-form">
              <div class="likes-text"><%=post.likes%></div>
            </div>
          </div>
          <div class="downloads-wrapper">
            <div class="downloads-text"><%=post.downloads%></div>
          </div>
          <div class="created-wapper">
            <div class="created-text"><%=post.simpleCreated_at%></div>
          </div>
          <div class="price-wrapper">
            <div class="price-text">￦ <%=post.price%></div>
          </div>
          <div class="writer-wrapper">
            <div class="writer-text"><%=post.writer%></div>
          </div>
          <div class="title-wrapper">
            <div class="title-text"><a href="/post/read/<%=post.pid%>"><%=post.title%></a></div>
          </div>
          <a class="thumbnail" href="/post/read/<%=post.pid%>">
            <%if(post.images && post.images.length > 0){%>
              <img src="/uploads/<%=post.images[0]%>" width="298" height="298">
            <%} else {%>
              <img src="/images/no_image.png" width="298" height="298">
            <%}%>
          </a>
        </div>
        <%}%>
      </div> <!--컬럼-->

      <!--페이지 네비게이션-->
      <div class="page-navigation">
        <%let unit = 3;%>
        <%if(offset >= unit){%>
        <div class="btnPrev-wrapper">
          <div class="btnPage-form">
            <a class="page-text" href="/post/board?format_name=<%=format_name%>&category_name=<%=category_name%>&limit=<%=unit+1%>&offset=<%=offset - unit%>">이전페이지</a>
          </div>
        </div>
        <%}%>
        <%if(posts && posts.length > unit){%>
        <div class="btnNext-wrapper">
          <div class="btnPage-form">
            <a class="page-text" href="/post/board?format_name=<%=format_name%>&category_name=<%=category_name%>&limit=<%=unit+1%>&offset=<%=offset + unit%>">다음페이지</a>
          </div>
        </div>
        <%}%>
      </div>

    </div> <!--콘텐츠-->
  </div>
</body>

</html>