<div>
    <div>
        <span>pid</span>
        <span><%=post.pid%></span>
    </div>
    <div>
        <span>writer</span>
        <span><%=post.writer%></span>
    </div>
    <div>
        <span>writer_name</span>
        <span><%=post.writer_name%></span>
    </div>
    <div>
        <span>category</span>
        <span><%=post.category%></span>
    </div>
    <div>
        <span>category_name</span>
        <span><%=post.category_name%></span>
    </div>
    <div>
        <span>format</span>
        <span><%=post.format%></span>
    </div>
    <div>
        <span>format_name</span>
        <span><%=post.format_name%></span>
    </div>
    <div>
        <span>views</span>
        <span><%=post.views%></span>
    </div>
    <div>
        <span>likes</span>
        <span><%=post.likes%></span>
    </div>
    <div>
        <span>downloads</span>
        <span><%=post.downloads%></span>
    </div>
    <div>
        <span>title</span>
        <span><%=post.title%></span>
    </div>
    <div>
        <span>price</span>
        <span><%=post.price%></span>
    </div>
    <div>
        <span>description</span> <br>
        <% 
        let text = post.description;
        let map = {
            " " : "&nbsp;",
            "\n":  "<br>",
            "<" : "&lt;",
            ">" : "&gt;",
            "\"": "&quot;",
            "&" : "&amp;",
        };
        let escapedText = text.replace(/[ \n<>\"&]/g, (m) => map[m]);
        %>
        <span><%- escapedText%></span>
    </div>
    <div>
        <span>images</span>
        <%if(post.images){%>
            <%for(let image of post.images){%>
                <img src="/uploads/<%=image%>" width="300px" height="300px">
            <%}%>
        <%}%>
    </div>
</div>